DISCORD_TOKEN=<DISCORD_TOKEN>
GUILD_ID=<DISCORD_GUILD_ID>
ROLE_ID=<DISCORD_ROLE_IDS_MULTIPLE_BY_SPACE_"id1 id2 id3 id4 id5">
PATREON_CHANNEL=<PATREON_CHANNEL_FOR_NOTIFICATIONS>

ADMIN_PANEL_CHANNEL=<ADMIN_ONLY_CHANNEL>
ADMIN_PANEL_MESSAGE_ID=<MESSAGE_ID_SEE_LOGS>

VR_CHAT_USERNAME=<VR_CHAT_USERNAME>
VR_CHAT_PASSWORD=<VR_CHAT_PASSWORD>
VR_CHAT_AVATARID=<VR_CHAT_AVATARID_STARTING_WITH_"avtr"_SPLIT_MULTIPLE_BY_POINTS_"ID1.ID2.ID3">

LOGGER_ENABLED=<true/false>
LOGGER_TIMEZONE=<TIMEZONE_LIKE_"Europe/Amsterdam">