{
  "arrowParens": "always",
  "singleQuote": false,
  "semi": true,
  "svelteSortOrder": "options-styles-scripts-markup",
  "svelteStrictMode": false,
  "svelteIndentScriptAndStyle": true,
  "trailingComma": "none"
}
